{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-4">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">سبد خرید</h1>
            <br>
            <p class="lead fw-normal text-white-50 mb-0">محصولات مورد نیازت رو به سبد خریدت اضافه کن</p>
        </div>
    </div>
</header>
    <br>
    <div class="container">
    {% if cart_products %}
        {% for product in cart_products %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <br>
                            <p class="card-text">{{ product.description }}</p>

                    {% if product.is_sale %}
                            <div class="badge bg-danger text-light position-absolute" style="top: 0.5rem; right: 0.5rem">تخفیف ویژه</div>
                        <!-- Product price-->
                            <strike class="text-secondary">قیمت : {{ product.price | intcomma }} تومان</strike>
                            <br>
                        قیمت : {{ product.sale_price | intcomma }} تومان
                    {% else %}
                        قیمت : {{ product.price | intcomma }} تومان
                    {% endif %}
                <br><br>
                <div class="row">
                    <div class="col-md-2">تعداد : </div>
                    <div class="col-md-2">
                        <select class="form-select form-select-sm" id="select{{ product.id }}">
                            <option selected>
                                {% for key, value in quantities.items %}
                                    {% if key == product.id|slugify %}
                                        {{ value }}
                                    {% endif %}
                                {% endfor %}
                            </option>

                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
                <br><br>
                            <a href="{% url 'home' %}" class="btn btn-secondary">بازگشت به صفحه اصلی</a>
                            <button type="button" data-index="{{ product.id }}" class="btn btn-secondary update-cart">بروزرسانی</button>
                            <button type="button" data-index="{{ product.id }}" class="btn btn-danger delete-product">حذف</button>

                        </div>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}

        <div align="right">
            <h3>مبلغ کل : {{ totals | intcomma }} تومان</h3>
            <br>
            <a href="{% url 'checkout' %}" class="btn btn-success">بررسی صورتحساب</a>
        </div>


        <br><br><br>

    {% else %}
    سبد خرید شما خالی است!
    <br><br><br><br><br><br><br><br><br><br><br><br>
    {% endif %}
    </div>

<script>
// Update cart
$(document).on('click', '.update-cart', function (e){
    e.preventDefault();
    // Grab the product id
    var productid = $(this).data('index');

    $.ajax({
        type: 'POST',
        url: '{% url 'cart_update' %}',
        data: {
            product_id: $(this).data('index'),
            product_qty: $('#select' + productid + ' option:selected').text(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },

        success: function(json){
            //console.log(json)
            //document.getElementById("cart_quantity").textContent = json.qty
            location.reload();
        },
        error: function(xhr, errmsg, err){

        }
    });
})

// Delete item from cart
$(document).on('click', '.delete-product', function (e){
    e.preventDefault();
    // Grab the product id
    //var productid = $(this).data('index');

    $.ajax({
        type: 'POST',
        url: '{% url 'cart_delete' %}',
        data: {
            product_id: $(this).data('index'),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },

        success: function(json){
            //console.log(json)
            //document.getElementById("cart_quantity").textContent = json.qty
            location.reload();
        },
        error: function(xhr, errmsg, err){

        }
    });
})
</script>

{% endblock %}