{% extends 'base.html' %}
{% load humanize %}

{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-4">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">سبد خرید</h1>
                    <br>
                    <p class="lead fw-normal text-white-50 mb-0">محصولات مورد نیازت رو به سبد خریدت اضافه کن</p>
                </div>
            </div>
        </header>
<br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}