{% extends 'base.html' %}
{% block content %}
<!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-4">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">دسته بندی محصولات</h1>
                <br>
                <p class="lead fw-normal text-white-50 mb-0">دسته بندی مورد نظر خود را انتخاب کنید.</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br><br>
                    {% for category in categories %}
                        <h3><a href="{% url 'category' category %}" >{{ category }}</a></h3>
                    {% endfor %}
                    <br><br><br><br><br><br><br><br>

                </div>
            </center>
        </div>
    </div>
{% endblock %}