<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'home' %}">فروشگاه من</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">خانـــه</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">دسته بندی محصولات </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="text-align: right">
                        <li><a class="dropdown-item" href="{% url 'category_summary' %}">همه محصولات</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'لپ-تاپ' %}">لپ تاپ</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'لوازم-جانبی-لپ-تاپ' %}">لوازم جانبی لپ تاپ</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'تبلت' %}">تبلت</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'موبایل' %}">موبایل</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'هدفون' %}">هدفون</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'دوربین' %}">دوربین</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'مودم' %}">مودم</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'هارد' %}">هارد</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'وسایل-گیمینگ' %}">وسایل گیمینگ</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'پرینتر' %}">پرینتر</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'search' %}">جستجوی محصولات</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">درباره ما</a></li>
            </ul>
            <form class="d-flex me-auto">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}

                    <li class="nav-item dropdown">
                        <a class="btn btn-outline-dark" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">حساب کاربری </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="text-align: right">
                            <li><a class="dropdown-item" href="{% url 'update_user' %}">صفحه کاربری</a></li>
                            <li><a class="dropdown-item" href="{% url 'update_info' %}">اطلاعات کاربری</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">خروج از حساب کاربری</a></li>
                        </ul>
                    </li>
                </ul>

        {% else %}
                    <a class="btn btn-outline-dark" href="{% url 'register' %}">ثبت نام</a>
                    <a class="btn btn-outline-dark" href="{% url 'login' %}">ورود</a>
        {% endif %}

                <a href="{% url 'cart_summary' %}" class="btn btn-outline-dark">
                    <i class="bi-cart-fill me-1"></i>
                    سبد خرید
                    <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}</span>
                </a>
            </form>
        </div>
    </div>
</nav>