{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-4">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">جستجوی محصولات</h1>
                <br>
                <p class="lead fw-normal text-white-50 mb-0">محصول مورد نظر خود را جستجو کنید.</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-10">
                    <br><br>
                    <div class="card">
                        <h5 class="card-header">جستجوی محصولات</h5>
                        <div class="card-body">
                            <form method="post" action="{% url 'search' %}">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <input type="text" class="form-control" placeholder="جستجو" name="searched">
                                </div>
                                <button type="submit" class="btn btn-secondary">
                                    جستجو
                                </button>
                            </form>
                        </div>
                    </div>
                    <br><br>

                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% if searched %}

                        {% for product in searched %}

                            {% if product.is_sale %}
                                <div class="col mb-5">
                                    <div class="card h-100">
                                        <div class="badge bg-danger text-light position-absolute" style="top: 0.5rem; right: 0.5rem">تخفیف ویژه</div>
                                        <!-- Product image-->
                                        <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                                        <!-- Product details-->
                                        <div class="card-body p-4">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder">{{ product.name }}</h5>
                                                <!-- Product price-->
                                                <strike class="text-secondary">{{ product.price | intcomma }} تومان</strike>
                                                <br>
                                                {{ product.sale_price | intcomma }} تومان
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}">صفحه محصول</a></div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col mb-5">
                                    <div class="card h-100">
                                        <!-- Product image-->
                                        <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                                        <!-- Product details-->
                                        <div class="card-body p-4">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder">{{ product.name }}</h5>
                                                <!-- Product price-->
                                                {{ product.price | intcomma }} تومان
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}">صفحه محصول</a></div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                        {% endfor %}

                    {% endif %}
                    </div>

                </div>
            </center>
        </div>
    </div>
    <br>
{% endblock %}