{% extends 'base.html' %}
{% block content %}
<!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-4">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">اطلاعات کاربری</h1>
                <br>
                <p class="lead fw-normal text-white-50 mb-0">بروزرسانی اطلاعات</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-5">
                    <br><br><br>
                    <strong>اطلاعات صورتحساب</strong>
                    <br><br><br>

                    <form method="post" action="{% url 'update_info' %}">
                        {% csrf_token %}

                        {{ form.as_p }}
                        <br>
                        <strong>اطلاعات ارسال</strong>
                        <br><br>
                        {{ shipping_form.as_p }}


                        <button type="submit" class="btn btn-secondary">بروزرسانی اطلاعات</button>

                    </form>

                    <br>
                    <br><br><br><br>
                </div>
            </center>
        </div>
    </div>
{% endblock %}