{% extends 'base.html' %}
{% block content %}
<!-- Header-->

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br><br>
                    <h3>سفارشات ارسال نشده</h3>
                <br>
                    <table class="table table-striped table-hover table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">سفارش</th>
                                <th scope="col">قیمت</th>
                                <th scope="col">ایمیل مشتری</th>
                                <th scope="col">تاریخ سفارش</th>
                                <th scope="col">ارسال نشده</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in orders %}
                            <tr>
                                <td><a href="{% url 'orders' item.id %}">{{ item.id }}</a></td>
                                <td>{{ item.amount_paid }} تومان</td>
                                <td>{{ item.email }}</td>
                                <td>{{ item.date_ordered }}</td>
                                <td>
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="shipping_status" value="true">
                                        <input type="hidden" name="num" value={{ item.id }}>
                                        <button type="submit" class="btn btn-success btn-sm">انتخاب بعنوان ارسال شده</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </center>
        </div>
    </div>
{% endblock %}