{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-4">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">پردازش سفارش</h1>
            <br>
            <p class="lead fw-normal text-white-50 mb-0">این عملیات موقتی است...</p>
        </div>
    </div>
</header>
    <br>
    <div class="container">
        <div class="row">
        <center>
                <div class="col-10">
                    <div class="card">
                        <div class="card-header">
                        خلاصه سفارشات
                        </div>
                        <div class="card-body" align="right">
                            {% for product in cart_products %}
                                {{ product.name }}:
                                    {% if product.is_sale %}
                                        قیمت : {{ product.sale_price | intcomma }} تومان
                                    {% else %}
                                        قیمت : {{ product.price | intcomma }} تومان
                                    {% endif %}
                                <br>
                                <small>
                                تعداد:
                                    {% for key, value in quantities.items %}
                                        {% if key == product.id|slugify %}
                                            {{ value }}
                                    {% endif %}
                                {% endfor %}
                                </small><br><br>
                            {% endfor %}
                        مبلغ کل : {{ totals | intcomma }} تومان
                        <br><br>
                        <a href="{% url 'cart_summary' %}" class="btn btn-outline-secondary">بازگشت به سبد خرید</a>
                        </div>
                    </div>
                    <br><br>
                    <div class="card">
                        <div class="card-header">
                        اطلاعات صورتحساب
                        </div>
                        <div class="card-body" align="right">

                            نام : {{ shipping_info.shipping_full_name }}<br>
                             ایمیل :{{ shipping_info.shipping_email }}<br>
                             آدرس 1 :{{ shipping_info.shipping_address1 }}<br>
                             آدرس 2 :{{ shipping_info.shipping_address2 }}<br>
                             شهر :{{ shipping_info.shipping_city }}<br>
                             منطقه :{{ shipping_info.shipping_state }}<br>
                             کدپستی :{{ shipping_info.shipping_zipcode }}<br>
                             کشور :{{ shipping_info.shipping_country }}<br><br>
                            <a href="{% url 'checkout' %}" class="btn btn-outline-secondary">بروزرسانی صورتحساب</a>

                        </div>
                    </div>
                <br>
                <div class="card">
                        <div class="card-header">
                        اطلاعات پرداخت
                        </div>
                        <div class="card-body" align="right">
                            <form method="post" action="{% url 'process_order' %}">
                                {% csrf_token %}
                            {{ billing_form.as_p }}

                        </div>
                    </div>
                <br>
                    <button type="submit" href="" class="btn btn-secondary">پرداخت</button>
                            </form>
                <br><br>
                </div>
        </center>
        </div>
    </div>

{% endblock %}